<h1> indice de pagos por empleado</h1>
<div>
  <p>
  <%= @asignaciones['total_asignacion'] %>
  </p>
  <p>
  <%= @asignaciones['total_deducciones'] %>
  </p>
  <p>
  <%= @asignaciones['total_asignacion'] - @asignaciones['total_deducciones'] %>
</div>
