<div class='d-flex align-items-center justify-content-between'>
  <ul class='list-group list-group-horizontal'>                                                                    
    <li class='list-group-item'>
      <%= link_to 'Home', root_path %>
    </li>                                                   
    <li class='list-group-item'>
      <%= link_to 'Trabajadores', tab_trabajadors_index_path, class: 'link-primary active' %>
    </li>
    <li class='list-group-item'>
      <%= link_to 'Volver', :back %>
    </li>
  </ul>
   <%= render 'shared/logout' %>
</div>
