<div class="container-fluid">
  <%= render 'shared/menu' %>
<div class = "container-fluid mt-3">
  <%= render 'shared/mostrar_nombre', nombre: @trab.nombres %>
</div>
<div class = "container-fluid mt-3">
  <%= render 'tab_trabajadors/datos_cargo_trabajador' %>
</div>
<div>
  <%= link_to 'Crear variacion', new_variacion_path(id: @trab) %>
</ div>

<h1>Hola variacion</h1>
