<div class="d-flex justify-content-center border border-bottom-2 bg-primary">
  <h5 class="text-light">Fechas</h5>
</div>
<ul class="list-group list-group-horizontal-lg">
  <%= render 'fechas', tipo_fecha: 2 %>
</ul>
<ul class="list-group list-group-horizontal-lg border border-top-0">
  <%= render 'fechas', tipo_fecha: 1 %>
</ul>
