<div class="d-flex justify-content-center border border-bottom-2 bg-primary">
  <h5 class="text-light">Datos del Cargo</h5>
</div>
<ul class="list-group list-group-horizontal-lg">
  <% @datos_cargo.each do |key, val| %>
    <li class="list-group-item flex-fill">
      <div><b><p><%= key %></p></b></div>
      <div>
        <% if val.size.eql?(1) %>
        <%= val.first %>
          <% else %>
            <%= val.first  %> - <%= val.last %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
