<div class="d-flex justify-content-center border border-bottom-2 bg-primary">
  <h5 class="text-light">Datos del Trabajador</h5>
</div>
<ul class="list-group list-group-horizontal-sm">
  <% @datos_trabajador.each do |key, val| %>
    <li class="list-group-item flex-fill">
      <div><b><p><%= key %></p></b></div>
      <div><%= val %></div>
    </li>
  <% end %>
</ul>
