<div class="card-header"><h5>Datos del trabajador</h5></div>
<div class="card-body text-dark">
  <p class="card-text"><b>Nombre del Trabajador:</b> <%= @trabajador.nombres %></p>
  <p class="card-text"><b>Cédula del Trabajador:</b> <%=@trabajador.ce_trabajador %></p>
  <p class="card-text"><b>Estatus del Trabajador:</b> <%=@desc_estatus[@trabajador.estatus] %></p>
</div>
