<div class="container-fluid">

  <h1>Sección de Trabajadores</h1>
    <%= render 'shared/menu' %>
</div>
<div class= "container-fluid border border-2 mt-3"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>

    <% @sidial.each do |trabajador| %>
      <tr>
        <td><%= trabajador.nombres %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
